<h1><%= @text %></h1>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <%= value %>
  </div>
<% end %>

<%= form_with url: send_code_presents_path, local: true do |form| %>
  <%= form.text_field :code %>
  <%= form.submit %>
<% end %>
